/BMI.class
/Course.class
/LargeFactorial.class
/Loan.class
/PalindromeIgnoreNonAlphanumeric.class
/StackOfIntegers.class
/TestCourse.class
/TestLoanClass.class
/TestStackOfIntegers.class
/UseBMIClass.class
